* {
    margin: 0;
    padding: 0;
}

/*---Perfil---*/

.page2-header {
    background-color: #d6b149;
    height: 60px;
}

.page2-header #backtopage1 {
    display: flex;
    align-items: center;
    margin-left: 1.0rem;
}

.page2-header #backtopage1 img {
    margin-top: 0.8rem;
}

.page2-header #backtopage1 p{
    margin-top: 0.8rem;
    transform: translateX(800%);
    font: 500 2.0rem Archivo;
}

#profile-container {
    display: flex;
    align-items: center;
}

#profile-container img{
    float: right;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(71, 138, 158);
    margin: 4.5rem 1.4rem; 
}

.info {
    margin-left: 4.0rem;
}

.info strong {
    font: 700 2.0rem Archivo;
    color: brown;
}

.info p {
    font: 400 1.2rem Archivo;
}

