
* {
  box-sizing: border-box;
}
 
#tblCarrinho {
    width: 750px;
    margin: 80px auto;
    background: #99e9ad;
    box-shadow: 1px 2px 3px 0px rgba(4, 90, 33, 0.603);
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
}

#tblCarrinho button {
    width: 35%;
    height: 40%;
    cursor: pointer;
    font: 780 1.0rem Archivo;
    border-radius: 5px;
}
